/* HeroDetailComponent's private CSS styles */
label {
  /*display: inline-block;*/
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;

  
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
input[type="number"]{
	width:50px;
}
select {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  float:center;
}
button:hover {
  background-color: #27ace8;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.firsts {
	float: left;
    margin-left: 46%;
	top: 19px;
    position: relative;
}
.container{
	float: left;
	width: 8%;
	min-width: 113px;
}
.radio{
	background-color: #a77e2d !important;
  color: #ffffff !important;
}
.top{
	position: relative;
    margin-left: -20px;
}
.bot{
	top: 39px;
    position: relative;
	left: -20px;
}
.agidiv{
	height: 70px;
	background: #12ff10ab;
}
.fisdiv{
	height: 70px;
	background: #e81212cc;
}
.intdiv{
	height: 70px;
	background: #039be5;
}
.damaged {
	background: red !important;;
    color: #03ff24;
}
.bodygrid {
	color:#ffffff00  !important;
}
.offgrid {
	background: #1f0400 !important;
	color:#ffffff00;
}
table{
	margin-top: 10px;
}
table button{
	margin-top: 0px !important;
	min-width: 34px;
}
.local{
	width: 20px;
    height: 13px;
    position: relative;
    top: 2px;
    left: -8px;
    padding: 0px;
	border-color: #ffffff00;
    background: #ffffff00;
    color: brown;
}
.pg{
	width: 64px;
}
.desc{
	height: 59px;
}
.gridcomp{
	height: 25px;
}
.tablegrid{
	/*background-image: url(assets/grid.png);*/
    /*background-size: cover;*/
	width: 254px;
    height: 269px;
	background-size: cover;
}
.gridbuton{
	border-radius: 0px;
    height: 34px;
    top: -2px;
    position: relative;
	background:#ffffff00;
	    font-size: 15px;
    font-family: cursive;
    font-weight: bold;
}
.inputdesc{
    width: 76%;
}
.vitcheck{
	top: 12px;
    position: relative;

}
.spirallabel {
	top: 19px;
    float: left;
    position: relative;
    color: black;
    left: -45px;
}