/* HeroDetailComponent's private CSS styles */
label {
  /*display: inline-block;*/
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;

  
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
input[type="number"]{
	width:50px;
}
select {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
button {
  margin-top: 20px;
  font-family: Arial;
  background-color: #ddd;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer; cursor: hand;
  float:center;
}
button:hover {
  background-color: #27ace8;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}
.firsts {
	float: left;
	top: 19px;
    position: relative;
}
.container{
	float: left;
	width: 12%;
	min-width: 222px;
}
.containerhuge{
	width: 75% !important;
}
.hugespiral{
	    width: 428px !important;
}    
.containervitality{
	height: 75px;
    width: 580px;
    margin: auto;
	}
.radio{
	background-color: #a77e2d !important;
  color: #ffffff !important;
}
.top{
	position: relative;
    left: -19px;
}
.bot{
	top: 11px;
    position: relative;
	left: -19px;
}

.fisdiv{
	height: 70px;
	background: #039be573;
	margin: auto;
    width: 326px;
    min-width: 326px;
}
.agidiv{
	height: 70px;
	background: #e8121273;
	margin: auto;
    width: 326px;
    min-width: 326px;
}
.intdiv{
	height: 70px;
	background: #12ff1073;
	margin: auto;
    width: 326px;
    min-width: 326px;
}
.damaged {
	background: red !important;;
    color: #03ff24;
}
.bodygrid {
	color:#ffffff00  !important;
}
.offgrid {
	background: #1f0400 !important;
	color:#ffffff00;
}
table{
	margin-top: 10px;
}
table button{
	margin-top: 0px !important;
	min-width: 34px;
}
.local{
	width: 20px;
    height: 13px;
    position: relative;
    top: 2px;
    left: -8px;
    padding: 0px;
	border-color: #ffffff00;
    background: #ffffff00;
    color: brown;
}
.pg{
	width: 50px;
}
.name{
	width: 160px;
}
.desc{
	height: 63px;
    width: 180px;
    position: relative;
    margin-bottom: -4px;
}
.gridcomp{
	height: 25px;
}
.divgrid{
	display: inline-flex
}
.tablegrid{
	/*background-image: url(assets/grid.png);*/
    /*background-size: cover;*/
	width: 254px;
    height: 269px;
	background-size: cover;
}
.tr{
	height: 38px;
}
.th{
	height: 25px;
}
.gridbuton{
	border-radius: 0px;
    height: 34px;
    top: -2px;
    position: relative;
	background:#ffffff00;
	    font-size: 15px;
    font-family: cursive;
    font-weight: bold;
}
.inputdesc{
    width: 76%;
}
.vitcheck{
	top: 12px;
    position: relative;

}.vitcheck:checked {
    background-color: #a3b1b39c;
}
.spirallabel {
	top: 19px;
    float: left;
    position: relative;
    color: black;
    left: -45px;
}

input[type="checkbox"]{
	width: 1.3em;
    height: 1.3em;
    background-color: white;
    border-radius: 50%;
    vertical-align: middle;
    border: 1px solid #060606;
    -webkit-appearance: none;
    outline: none;
    cursor: pointer;
}
.fisdiv input[type="checkbox"]:checked{
	background-color: #1b30c19e;
}
.agidiv input[type="checkbox"]:checked{
	background-color: #aa0000bb;
}
.intdiv input[type="checkbox"]:checked{
	background-color: #1b791eb0;
}
.fieldcheck:checked{
	background-color: #14cfe2bb;
}
table input[type="checkbox"]:checked{
	background-color: #03ff24;
}
.divflex{
	display:flex;
    flex-wrap: wrap;
	justify-content: center;
}
.fieldflex{
	display:flex;
    flex-wrap: wrap;
	justify-content: flex-start;
	flex-flow:column-reverse;
}
.rightwep{
	
	margin-left: auto;
}
.leftwep{
	
	margin-right: auto;
}
.focus {
	-webkit-animation: blink 0.85s step-end infinite alternate; 
}
    @-webkit-keyframes blink { 50% { border-color: green;background-color: greenyellow; }  }
	
