<div *ngIf="life">
	<!--div><span>{{life.name | uppercase }} </span></div>
	<div><span>Tipo: </span>{{life.type }}</div>
	<div><span>Total: </span>{{life.value}}</div-->
    <label>New Name:
      <input id="lifename" [(ngModel)]="life.name" placeholder="name" />
    </label>
	<br>
	<label>
		New Base:
		<select id="lifebase" (change)="noMultipleBattleEngine()" [(ngModel)]="life.base"  >
	  <option value="small">Small</option>
	  <option value="medium">Medium</option>
	  <option value="large">Large</option>
	  <option value="huge">Huge</option>
	  </select>
	</label>
	<br>
	<label>
		New Type:
		<select id="lifetype" (change)="setdefault()" [(ngModel)]="life.type"  >
	  <option value="vitalidade">Vitality</option>
	  <option value="espiral">Spiral</option>
	  <option value="grid">Warjack</option>
	  </select>
	</label>
	<br>
	<label>
	<!--  status  -->
	SPD:<input type="number" [(ngModel)]="life.spd" placeholder="spd" />
	ARM:<input id="armdemonstrativo" type="number" [(ngModel)]="life.arm" placeholder="arm" />
	DEF:<input type="number" [(ngModel)]="life.def" placeholder="def" />
	INIT:<input type="number" [(ngModel)]="life.inc" placeholder="init" />
	<br>
	WILL:<input type="number" [(ngModel)]="life.von" placeholder="will" />
	ARC:<input type="number" [(ngModel)]="life.arc" placeholder="arc" />
	CMD:<input type="number" [(ngModel)]="life.cmd" placeholder="cmd" />
	THR:<input type="number" [(ngModel)]="life.thr" placeholder="Threshold" />
	</label>
	<!--div [ngSwitch]="life.type">
		<div *ngSwitchCase="'vitalidade'">
		<input [(ngModel)]="life.value" placeholder="quantidade" />
		</div>
		<div *ngSwitchCase="'espiral'">
		<input [(ngModel)]="life.value" placeholder="fis,agi,int" />
		</div>
		<div *ngSwitchCase="'grid'">
		<input [(ngModel)]="life.value" placeholder="caixas" />
		</div>
	</div-->
	<div  *ngIf="life.type === 'vitalidade'">
	
	<!--input [(ngModel)]="life.value" placeholder="quantidade" /-->
	<!--[checked]="i < life.value" não funcionou, logo tive que trapaçear-->
	<!--  vit  -->
	<button *ngIf="life.base !== 'huge'" id="addvitbar" (click)="addVitality()"><label>Add new Vitality bar</label></button>
	<button *ngIf="life.base !== 'huge'" id="removevitbar" (click)="delVitality()"><label>Remove last Vitality bar</label></button>
	<div *ngFor="let vit of getVitalities(),let i = index">
	
	
	<div  [class.containervitality]="life.base === 'huge'">
	<label *ngIf="life.base !== 'huge'" class="vitcheck">{{i+1}}:</label>
	<input  class="vitcheck" id="cb{{i}}{{c}}" (change)="vitalityup(i,c)" type="checkbox" *ngFor="let c of numerica(0,(life.base === 'huge' ? 40 : 15))" [checked]="c< vit" /><label class="vitcheck">{{vit}}</label>
	</div>
	
	</div>
	
	<!--input  (click)="vitalityup(this.checked)" type="checkbox" *ngFor="let i of numerica(+life.value,15)" /-->
	</div>
	
	<div *ngIf="life.type === 'espiral'">
	
	
	<!--  Fis  -->
	<div [class.hugespiral]="life.base == 'huge'" class="fisdiv">
	
	<div class="firsts">
	<input  id="cbf{{i}}" (change)="fisup(i)" type="checkbox" *ngFor="let i of numerica(0,2)" [checked]="i< getFis()" />
	</div>
	<div [class.containerhuge]="life.base == 'huge'" class="container">
		<input [class.top]="i%2==0" [class.bot]="i%2==1"  id="cbf{{i}}" (change)="fisup(i)" type="checkbox" *ngFor="let i of numerica(2,(life.base === 'huge' ? 24 : 16))" [checked]="i< getFis()" />
	</div>
	<label class="spirallabel">{{getFis()}}</label>
	</div>
	
	<!--  Agi  -->
	<div [class.hugespiral]="life.base == 'huge'" class="agidiv">
	
	<div class="firsts">
	<input  id="cba{{i}}" (change)="agiup(i)" type="checkbox" *ngFor="let i of numerica(0,2)" [checked]="i< getAgi()" />
	</div>
	<div [class.containerhuge]="life.base == 'huge'" class="container">
		<input [class.top]="i%2==0" [class.bot]="i%2==1"  id="cba{{i}}" (change)="agiup(i)" type="checkbox" *ngFor="let i of numerica(2,(life.base === 'huge' ? 24 : 16))" [checked]="i< getAgi()" />
	</div>
	<label class="spirallabel">{{getAgi()}}</label>
	</div>
	
	<!--  Int  -->
	<div [class.hugespiral]="life.base == 'huge'" class="intdiv">
	
	<div class="firsts">
	<input class="btn-primary" id="cbi{{i}}" (change)="intup(i)" type="checkbox" *ngFor="let i of numerica(0,2)" [checked]="i< getInt()" />
	</div>
	<div [class.containerhuge]="life.base == 'huge'" class="container">
		<input [class.top]="i%2==0" [class.bot]="i%2==1" id="cbi{{i}}" (change)="intup(i)" type="checkbox" *ngFor="let i of numerica(2,(life.base === 'huge' ? 24 : 16))" [checked]="i< getInt()" />
	</div>
	<label class="spirallabel">{{getInt()}}</label>
	</div>
	<br>
	<!--  field  -->
		<div *ngIf="life.base !== 'huge'">
		<input class="fieldcheck" id="cbd{{i}}" (change)="fieldup(i)" type="checkbox" *ngFor="let i of numerica(0,6)" [checked]="i< getField()" />
		</div>
	</div>
	<!--  grid  -->
	<br>
	<div class="divgrid" *ngIf="life.type === 'grid'">
		
		<table   align="center" class="tablegrid" style="background-image: url(assets/grid.png)">
		<tr class="gridcomp">
			<th *ngFor="let i of numerica(0,6)"></th>
		</tr>
		<tr *ngFor="let l of numerica(0,6)">
			<td *ngFor="let letra of getColumn(l),let x = index">
				<button class="gridcomp gridbuton" id="btn{{l}}{{x}}" [class.damaged]="letra.indexOf('.')!=-1" [class.offgrid]="letra.indexOf('x')!=-1" [class.bodygrid]="letra.indexOf('o')!=-1" (click)="callchoice($event)">{{letra[0]}}</button>
			</td>
		</tr>
		</table>
		
		<!--colossal-->
		<br>
		<table *ngIf="life.base === 'huge'" align="center" class="tablegrid" style="background-image: url(assets/grid.png)">
		<tr class="gridcomp" >
			<th *ngFor="let i of numerica(0,6)"></th>
		</tr>
		<tr  *ngFor="let l of numerica(7,13)">
			<td *ngFor="let letra of getColumn(l),let x = index">
				<button class="gridcomp gridbuton" id="btn{{l}}{{x}}" [class.damaged]="letra.indexOf('.')!=-1" [class.offgrid]="letra.indexOf('x')!=-1" [class.bodygrid]="letra.indexOf('o')!=-1" (click)="callchoice($event)">{{letra[0]}}</button>
			</td>
		</tr>
		</table>
		
		
	</div>
	<div  *ngIf="life.type === 'grid'">
	<input class="fieldcheck" id="cbgd{{i}}" (change)="Gfieldup(i)" type="checkbox" *ngFor="let i of numerica(0,((life.base === 'huge' || life.base === 'large') ? 12 :  6))" [checked]="i< getGField()"/>
	</div>
	<!--  adds  -->
	<br>
	<button id="addmeele" (click)="addMeeleWepon()"><label>New Meele Weapon</label></button>
	<button id="addrange" (click)="addRageWepon()"><label>New Range Weapon</label></button>
	<button id="addability" (click)="addAbility()"><label>New Ability</label></button>
	<button id="addmagic" (click)="addMagic()"><label>New Magic</label></button>
	<br>
	<!--  weapons  -->
	<!--  meele weapons  -->
	<!--align="{{wep.local == 'd' ? 'right' : wep.local == 'e' ? 'left' : 'center' }}"-->
	<div class="divflex;" style="display:flex;flex-wrap: wrap;justify-content: center;">
	<div   *ngFor="let wep of life.melleweapons,let i = index"> <!--align="center"-->
	<table border="1px">
	<tr>
		<th colspan="4">
		<input id="mlname{{i}}" [(ngModel)]="wep.name" placeholder="name" />
		<button id="mldel{{i}}" (click)="deleteMeeleWeapon(wep)">Remove</button>
		</th>
	</tr>
	<tr>
		<td>
		<img src="assets/meele.png" />
		
		<input id="mllocal{{i}}" class="local" type="text" [(ngModel)]="wep.local" />
		</td>
		<td>
		MAT:<input id="mlhit{{i}}" type="number" [(ngModel)]="wep.hit" placeholder="mat" />
		</td>
		<td>
		POW:<input id="mlpod{{i}}" type="number" [(ngModel)]="wep.pod" placeholder="pow" />
		</td>
		<td>
		S+P:<input id="mlpf{{i}}" type="number" [(ngModel)]="wep.pf" placeholder="s + p" />
		</td>
	</tr>
	<tr>
		<td colspan="4">Note:<input id="mlnt{{i}}" class="inputdesc" [(ngModel)]="wep.note" placeholder="note" /></td>
	</tr>
	</table>
	</div>
	</div>
	<!--  range weapons  -->
	<!--align="{{wep.local == 'd' ? 'right' : wep.local == 'e' ? 'left' : 'center' }}"-->
	<div class="divflex;" style="display:flex;flex-wrap: wrap;justify-content: center;">
	<table border="1px" align="center" *ngFor="let wep of life.rangeweapons,let i = index">
	<tr>
		<th colspan="6">
		<input id="rgname{{i}}" [(ngModel)]="wep.name" placeholder="name" />
		<button id="rgdel{{i}}" (click)="deleteRangeWeapon(wep)">Remove</button>
		</th>
	</tr>
	<tr>
		<td>
		<img src="assets/range.png" />
		<input id="rglocal{{i}}" class="local" type="text" [(ngModel)]="wep.local" />
		</td>
		<td>
		RAT:<input id="rghit{{i}}"  type="number" [(ngModel)]="wep.hit" placeholder="rat" />
		</td>
		<td>
		RNG:<input id="rgalc{{i}}" type="number" [(ngModel)]="wep.alc" placeholder="rng" />
		</td>
		<td>
		ROF:<input id="rgrof{{i}}" type="number" [(ngModel)]="wep.munition" placeholder="rof" />
		</td>
		<td>
		AOE:<input id="rgade{{i}}" type="number" [(ngModel)]="wep.ade" placeholder="aoe" />
		</td>
		<td>
		POW:<input id="rgpod{{i}}" type="number" [(ngModel)]="wep.pod" placeholder="pow" />
		</td>
		
		
	</tr>
	<tr>
		<td colspan="6">Note:<input id="rgnt{{i}}" class="inputdesc" [(ngModel)]="wep.note" placeholder="note" /></td>
	</tr>
	</table>
	</div>
	<!--  abilities  -->
	<div class="divflex;" style="display:flex;flex-wrap: wrap;justify-content: center;">
	<table border="1px" align="center" *ngFor="let ability of life.abilities,let i = index">
		<tr *ngIf="i==0">
			<th >NAME</th>
			<th >DESCRIPTION</th>
			<th >PAG</th>
		</tr>
		
		<tr >
			<td rowspan="2">
				<input id="abname{{i}}" type="text" [(ngModel)]="ability.name" placeholder="name" />
			</td>
			<td rowspan="2">
				<textarea id="abdesc{{i}}" class="desc" placeholder="ability description" [(ngModel)]="ability.desc" ></textarea>
			</td>
			<td >
				<input id="abpg{{i}}" class="pg" type="text" [(ngModel)]="ability.pg" placeholder="book + pag" />
				
			</td>
			
		</tr>
		<tr>
			<td>
				<button id="abdel{{i}}" (click)="deleteAbility(ability)">x</button>
			</td>
		</tr>
	
	</table>
	</div>
	<!--  Magic  -->
	<div class="divflex;" style="display:flex;flex-wrap: wrap;justify-content: center;">
	<table border="1px" align="center" *ngFor="let magic of life.magics,let i = index">
		<tr *ngIf="i==0">
			<th >NAME</th>
			<th >COST</th>
			<th >RNG</th>
			<th >AOE</th>
			<th >POW</th>
			<th >UP</th>
			<th >OFF</th>
		</tr>
		
		<tr >
			<td >
				<input id="mgname{{i}}"  type="text" [(ngModel)]="magic.name" placeholder="name" />
			</td>
			<td >
				<input id="mgcost{{i}}"  type="number" [(ngModel)]="magic.cost" placeholder="cost" />
			</td>
			<td >
				<input id="mgalc{{i}}" class="pg" type="text" [(ngModel)]="magic.alc" placeholder="rng" />
			</td>
			<td >
				<input id="mgade{{i}}"  type="number" [(ngModel)]="magic.ade" placeholder="aoe" />
			</td>
			<td >
				<input id="mgpod{{i}}"  type="number" [(ngModel)]="magic.pod" placeholder="pow" />
			</td>
			<td >
				<input id="mgman{{i}}"  type="checkbox" [(ngModel)]="magic.man" />
			</td>
			<td >
				<input id="mgoff{{i}}"  type="checkbox" [(ngModel)]="magic.off" />
			</td>
			
		</tr>
		<tr>
			<td colspan="6">
				<label>Note:</label><input id="mgnt{{i}}" class="inputdesc" type="text" [(ngModel)]="magic.note" placeholder="note" />
				<button id="mgdel{{i}}" (click)="deleteMagic(magic)">x</button>
			</td>
		</tr>
	
	</table>
	</div>
	<br>

	<button (click)="save()">update</button>
	 <button (click)="add();">
		add new
	  </button>

</div> 


<button (click)="goBack()">go back</button>