<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">

  <h1>
    Welcome to {{ title }}!
  </h1>
  <nav>
 <!--<a routerLink="/dashboard">Menu</a>
	  <a routerLink="/life">Lifes</a>
	   <a routerLink="detail/0">Novo</a>-->
	  <a [routerLink]="[{outlets:{tutorial:'menu',primary:'dashboard'}}]">Menu</a>
	  <a [routerLink]="[{outlets:{tutorial:'life',primary:'life'}}]">Lifes</a>
	   <a [routerLink]="[{outlets:{tutorial:'detail',primary:'detail/0'}}]">Novo</a>
	</nav>

  <router-outlet name="primary"></router-outlet>
  <app-messages></app-messages>
  <router-outlet name="tutorial"></router-outlet>

</div>
