<!--The content below is only a placeholder and can be replaced.-->
<div class="divout" style="background:url(assets/border.png);background-size: cover;background-color: #f0f8ffea;">
  <h1>
    {{ title }}
  </h1>
<div class="divin">

  <nav>
 <!--<a routerLink="/dashboard">Menu</a>
	  <a routerLink="/life">Lifes</a>
	   <a routerLink="detail/0">Novo</a>-->
	  <a [routerLink]="[{outlets:{tutorial:'menu',primary:'dashboard'}}]">Menu</a>
	  <a [routerLink]="[{outlets:{tutorial:'life',primary:'life'}}]">Lives</a>
	   <a [routerLink]="[{outlets:{tutorial:'detail',primary:'detail/0'}}]">New</a>
	</nav>

  <router-outlet name="primary"></router-outlet>
  <app-messages></app-messages>
  <router-outlet name="tutorial"></router-outlet>
<div>
</div>
