/* lifesComponent's private CSS styles */
.lifes {
  margin: 0 0 2em 0;
  
  list-style-type: none;
  padding: 0;
  width: 18em;
}
.lifes .group {

  position: relative;
  cursor: pointer;
  float:left;
  display: inline-block;
  background-color: #EEE;
 /* margin: .5em;*/
  padding: 0.8em 0.7em 0 0.7em;
  height: 2.0em;
  border-radius: 4px;
}

.lifes li:hover {
  color: #607D8B;
  background-color: #DDD;
  left: .1em;

}

.lifes a {
  color: #888;
  float:left;
  text-decoration: none;
  position: relative;
  display: block;
  width: 350px;
  margin-bottom: .5em;
}

.lifes a:hover {
  color:#607D8B;
}

.lifes .badge {/*numero*/
  border-radius: 4px;
  display: inline-block;
  font-size: small;
  color: white;
  float:left;
  padding: 0.9em 0.7em 0 0.7em;
  background-color: #607D8B;
  line-height: 1em;
  position: relative;
  /*left: -1px;
  top: -4px;*/
  height: 2.6em;
  min-width: 16px;
  text-align: right;
 /* margin-right: 3.8em;*/
 /* border-radius: 4px 0 0 4px;*/
}