<!--div>
  <label>Life nome:
    <input #lifeName />
  </label>
  <label>Life tipo:
    <input #lifeType />
  </label>
  <label>Life valor:
    <input #lifeValue />
  </label>
  
  <button (click)="add(lifeName.value,lifeType.value,lifeValue.value); 
  lifeName.value='';lifeType.value='';lifeValue.value=''">
    add
  </button>
</div-->
<div ><h2>My Lifes</h2>
<ul class="lifes">
  <li *ngFor="let life of lifes;let i = index" >
  <!--[class.selected]="life === selectedLife" (click)="onSelect(life)"-->
  	
	<a [routerLink]="[{outlets:{primary:['detail',life.id]}}]">
	<span class="badge">{{life.id}}</span>
	
	{{life.name }}
	
	<!--Tipo: {{life.type  }}
	Total: {{life.value}}-->
	

	</a>
	<button class="delete" title="delete life"
	(click)="delete(life)">x</button>
	<!--<div>
	    <label>Novo valor:
	      <input [(ngModel)]="life.value" placeholder="quantidade">
	    </label>
	</div> -->
  </li>
</ul>
<!--app-life-detail [life]="selectedLife"></app-life-detail-->
</div>
