<div >
	<div>
	<select class="right"  [(ngModel)]="idioma"  >
	  <option value="0">Português(Brasil)</option>
	  <option value="1">English</option>
	  </select>
	<img class="right" src="assets/language.png" width="24px" height="24px"/>
	 </div>
	<h3><label>{{this.oi.text[this.idioma]}} <button (click)="hide()" ><img id="hideimg" class="right" src="assets/arrow.png" width="24px" height="24px"/></button></label></h3>
	<!--<button *ngFor="let info of this.infos.slice(1)" (click)="focalizar(info.for)" [ngStyle]="{'top':(info.pos*15)+'px','width':info.width+'%'}"><label>  {{info.text[this.idioma]}}</label></button>-->
	<ul class="hidden" id="ulhelp" type="none">
		<li *ngFor="let infos of this.infosmatrix">
			<button *ngFor="let info of infos" (click)="focalizar(info.for)" ><label>  {{info.text[this.idioma]}}</label></button>
		</li>
	</ul>
	<!-- ================ MENU ================ -->
	<!--	<div *ngIf="this.aba === 'menu'">
		<div  >
		<button *ngFor="let info of this.infos.slice(1)" (click)="focalizar(info.for)" [ngStyle]="{'width':info.width+'%'}"><label>  {{info.text[this.idioma]}}</label></button>
		</div>
		-->
		
	<!-- ================ LIFES ================ -->
	<!--	<div *ngIf="this.aba === 'life'">
		<div  >
		<button *ngFor="let info of this.infos.slice(1)" (click)="focalizartag(info.for)" [ngStyle]="{'width':info.width+'%'}"><label>  {{info.text[this.idioma]}}</label></button>
		</div>
		</div>
		-->
		
	<!-- ================ DETAIL ================ -->
	<!--	<div *ngIf="this.aba === 'detail'">
		  
		</div>
		-->
		
</div>