/* DashboardComponent's private CSS styles */
[class*='col-'] {
  float: left;
  padding-right: 20px;
  padding-bottom: 20px;
}
[class*='col-']:last-of-type {
  padding-right: 0;
}
a {
  text-decoration: none;
}
*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
h3 {
  text-align: center; margin-bottom: 0;
}
h4 {
  position: relative;
}
.grid {
  margin: 0;

}
.col-1-4 {
  width: 50%;

}
.module {
  padding: 10px;
  text-align: center;
  color: #eee;
  max-height: 80px;
  min-width: 120px;
  background-color: #607D8B;
  border-radius: 2px;
}
.module:hover {
  background-color: #EEE;
  cursor: pointer;
  color: #607d8b;
}
.grid-pad {
  padding: 10px 0;
}
.grid-pad > [class*='col-']:last-of-type {
  padding-right: 20px;
}
@media (max-width: 600px) {
  .module {
    font-size: 10px;
    max-height: 75px; }
}
@media (max-width: 1024px) {
  .grid {
    margin: 0;
  }
  .module {
    min-width: 120px;
  }
}
.hidden{
	display:none;
}
label {
  /*display: inline-block;*/
  width: 3em;
  margin: .5em 0;
  color: #607D8B;
  font-weight: bold;

  
}
input {
  height: 2em;
  font-size: 1em;
  padding-left: .4em;
}
input[type="number"]{
	width:50px;
}
button {
  padding: 5px 10px;
  text-decoration: none;
  margin-top: 10px;
  display: inline-block;
  background-color: #eee;
  border-radius: 4px;
}
button:hover {
  color: #039be5;
  background-color: #CFD8DC;
}
.focus {
	-webkit-animation: blink 0.85s step-end infinite alternate; 
}
    @-webkit-keyframes blink { 50% { border-color: greenyellow;background-color: greenyellow; }  }